*{
    margin: 0;
}

.contenedor{
    color: white;
    background-image: url(img/fondobonito.jpg) ;
    background-size: 500px 700px;
    background-repeat: no-repeat
    
    
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-style: arial;
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}
